html, body{
    margin: 0;
    height: 100%;
    width: 100%;
}

/*
set background in body and set background position
 */
body{
    background-image: url("../images/image1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*
set main container in center and have alert-container and grid-container
 */
.main-container{
    height: 80%;
    width: 100%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-content: center;
    align-items: center;

}

/*
alert container top of grid container. (row 1 in main container)
 */
.alert-container{
    height: 10%;
    width: 45%;
    opacity: 50%;
    padding: 10px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*
grid container bottom of alert container. (row 2 in main container)
 */
.grid-container{
    /*height: 60%;*/
    /*width: 45%;*/

    height: 400px;
    width: 600px;

    opacity: 60%;
    padding: 10px;

    border-width: 2px;
    border-style: solid;
    border-radius: 30px;

    background-color: rgb(255, 255, 255);

    display: grid;
    justify-content: space-around;
    align-items: center;

}


/*
name container is row: 1 and column: 1 of grid
include input for name
in center of row: 1 and column: 1
 */
.name-container{
    grid-column: 1;
    grid-row: 1;
    align-items: center;
}


.title{

}

/*
select gender container is row: 2 and column: 1 of grid
include two radio buttons
 */
.select-gender-container{
    grid-column: 1;
    grid-row: 2;
    align-items: center;
}

/*
buttons container is row: 3 and column: 2 of grid
include two buttons (submit button and save button)
display is flex because have 2 columns (submit button and save button)
 */
.buttons-container{
    grid-column: 1;
    grid-row: 3;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*
prediction container is row: 1 and column: 2 of grid
include 3 divs: title, gender, prob and display with flex (3 columns)
 */
.prediction-container{
    grid-column: 2;
    grid-row: 1;
    align-items: center;

    display: flex;
    flex-direction: column;
}

/*
saved answer container is row: 2 and column: 2 of grid
 this container size is double of another container in row
 */
.saved-answer-container{
    padding: 25px;
    border-radius: 5px;
    border-width: 1px;
    border-style: dotted;

    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    grid-column: 2;
    grid-row: 2 / span 3;

}

/**
set style for buttons class
 */
.buttons{
    width: 60px;
    height: 30px;
    background-color: lightpink;
    text-align: center;

}

/**
when mouse hover on buttons, buttons change color
 */
.buttons:hover{
    background-color: hotpink;
}
